.Homediv {
    padding: 10px;
    margin-left: 30px;
}

.product-main-div {
    display: flex;
    flex-direction: row;
}

.imgdiv{
    width: 60%;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
}

.imgdiv img {
    width: 45%;
    margin: 0px 10px 10px 10px;
}

.right-div{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 30px 10px 10px 10px;
}

.sizelist{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.sizelist, div {
    margin-bottom: 10px;
}

.sizelist li {
    border: 1px solid #bfc0c6;
    border-radius: 50px;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.sizelist :hover {
    background: #ff3e6c;
}

.buttons {
    margin: 10px;
    max-width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn1, .btn2 {
    border: 1px solid black;
    padding: 10px;
}

.btn1{
    background-color: #ff3e6c;
}

.titlediv {

}

.ratingdiv {

}